{% extends 'base.html' %}

{% block head %}
<title>Buscando Estudiantes</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Buscando Estudiantes</h1>
     <h4 style="text-align: center">Ingresar el nombre </h4>
     <div class="form">
        <form action="/" method="POST">
            <input type="text" name="nombre" id="nombre" width="500">
            <input type="submit" value="Buscar">
        </form>
    </div>
    {% if estudiantes|length < 1 %}

    {% else %}
    <table class="styled-table">
      <thead>
        <tr>
              <th>id</th>
              <th style="width:100px" >Nombres</th>
             <th>PC1</th>
             <th>PC2</th>
             <th>PC3</th>
             <th>Final</th>
        </tr>
          </thead>
        <tbody>
        {% for item in estudiantes %}
            <tr>

                <td>{{ item[0] }}</td>
                <td style="width:100px" >{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                 <td>{{ item[4] }}</td>
                  <td>{{ item[5] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}


</div>
{% endblock %}